<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.piusvelte.wapdroid"
      android:versionCode="104" android:versionName="2.2.4">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".WapdroidUI"
			android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    	<activity android:name=".Settings"></activity>
    	<activity android:name=".ManageNetworks"></activity>
		<activity android:name=".ManageCells"></activity>
		<!--  Crondroid support -->
        <activity android:name=".CrondroidConfigure">
            <intent-filter>
                <action android:name="com.piusvelte.crondroid.intent.action.CONFIGURE" />
            </intent-filter>
        </activity>
		<receiver android:name=".WapdroidServiceManager">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
				<action android:name="com.piusvelte.wapdroid.WAKE_SERVICE"/>
				<!-- crondroid support -->
				<action android:name="com.piusvelte.crondroid.intent.action.TRIGGER"/>
			</intent-filter>
		</receiver>
		<service android:name=".WapdroidService"/>
	</application>
    <uses-sdk android:minSdkVersion="3"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest> 